@import './base.css';

#app {
  font-weight: normal;
}

.app-content {
  max-width: 1280px;
  margin: 0 auto;
}

a, button {
  text-decoration: none;
  transition: 0.4s;
  color: white ;
  font-weight:500;
  cursor: pointer;
}

h1, h2, h3, h4, h5, p {
  color: white;
}
